<p id="notice"><%= notice %></p>

<h1>Duelists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Rating</th>
      <th>Favourite card</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @duelists.each do |duelist| %>
      <tr>
        <td><%= duelist.name %></td>
        <td><%= duelist.age %></td>
        <td><%= duelist.rating %>/10</td>
        <td><%= duelist.favourite_card %></td>
        <td><%= duelist.user.username %></td>
        <td><%= link_to 'Show', duelist, :class => "button info radius tiny" %></td>
        <% if current_user == duelist.user %>
        <td><%= link_to 'Edit', edit_duelist_path(duelist), :class => "button secondary radius tiny" %></td>
        <td><%= link_to 'Destroy', duelist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert radius tiny" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duelist', new_duelist_path, :class => "button success radius tiny" %>
