<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :atk %>
    <%= form.number_field :atk %>
  </div>

  <div class="field">
    <%= form.label :def %>
    <%= form.number_field :def %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :duelist_id, :value => @card.duelist_id %>
  </div>

  <div class="actions">
    <%= form.submit({:class => 'button success radius tiny'}) %>
  </div>
<% end %>
