<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Duelist</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.user.username %></td>
        <td><%= card.duelist.name %></td>
        <td><%= link_to 'Show', card, :class => "button info radius tiny" %></td>

        <% if current_user == card.user %>
        <td><%= link_to 'Edit', edit_card_path(card), :class => "button secondary radius tiny" %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert radius tiny" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path, :class => "button success radius tiny" %>
