<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @card.atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @card.def %>
</p>

  <img src="<%= @card.picture %>">

<p>
  <strong>By User:</strong>
  <%= @card.user.username %>
</p>

<p>
  <strong>Duelist:</strong>
  <%= @card.duelist.name %>
</p>

<% if current_user == @card.user %>
<%= link_to 'Edit', edit_card_path(@card) %>
<% end %>
<%= link_to 'Back', cards_path %>

<%= render 'comments/comments' %>

<h3> Add Comment </h3>

<%= form_for([@card, @card.comments.build]) do |form| %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :body %>
  <%= form.text_area :body %>
</div>

<div class="field">
  <%= form.label :user_id %>
  <%= form.text_field :user_id %>
</div>

<div class="field">
  <%= form.label :card_id %>
  <%= form.text_field :card_id %>
</div>

<div class="actions">
  <%= form.submit({:class => 'btn btn-default'}) %>
</div>

<% end %>
