<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Atk:</strong>
  <%= @card.atk %>
</p>

<p>
  <strong>Def:</strong>
  <%= @card.def %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @card.picture %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user.email %>
</p>

<p>
  <strong>Duelist:</strong>
  <%= @card.duelist.name %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>
